* {
  box-sizing: border-box;
  margin: 0;

}
.top-container {
  height: 100vh;
}

.patient-detail-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
 height: 200vh;
  
}

.heading{
    text-align: center;

}
.profile-picture-and-button{
    position: relative;
    top:5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 3vh;
}

.capture-button{
    margin:0 30%;
}

.patient-details{
    color:white;
    position: relative;
    top: 25vh;
}