#Homepage {
  height: 100vh;
}

#Homepage .contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#Homepage .options {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20vh;
}

/* Home page Styling Done */

/* ------------------------------------------------------ */

/* Styling Register Page */

#Register .navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#Register .navbar {
  background: #131313;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

#Register #navbar__logo {
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

#Register .navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}

#Register .navbar__item {
  height: 80px;
}

#Register .navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

#Register .navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

#Register .navbar__links:hover {
  color: #9518fc;
  transition: all 0.3s ease;
}

#Register .button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #833ab4;
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  color: #fff;
  transition: all 0.3s ease;
}

#Register #contents {
  background: #000;
  background: linear-gradient(to right, #000, rgb(37, 36, 36));
  height: 1900px;
  color: white;
}

#Register h1 {
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2.5rem;
}

#Register .form-header {
  /* background-color: wheat; */
  /* position: relative;
  top:50px; */
  padding-top: 20px;
}

#Register .form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#Register .form-body {
  position: relative;
  top: 70px;
  /* background-color: rgb(62, 197, 118); */
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: left;
  align-content: space-between;
  column-gap: 400px;
  row-gap: 28px;
}

#Register .data_field {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3px;
  max-width: 300px;
  margin: 20px;
  /* background-color: yellowgreen; */
}

#Register .data_field input {
  border-radius: 5px;
  padding-left: 3px;
  height: 3em;
}

#Register .data_field select {
  border-radius: 5px;
  padding-left: 3px;
  height: 3em;
}
#Register #Picture_Container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#Register #Picture_Container #Image_and_Button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#Register #Picture_Container #Image_and_Button #Capture_Image_Button {
  height: 50px;
  width: 150px;
}

#Register #avatar {
  width: 380px;
  height: 285px;
  border-radius: 50%;
}

#Register .form-footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
  height: 50px;
}

#Register .form-footer button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 20%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #833ab4;
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #79fc45, #ca2686, #543ab4);
  color: #fff;
  transition: all 0.3s ease;
  font-size: large;
}

#Register .form-footer button:hover {
  width: 19.5%;
  transition: all 0.5s ease;
  cursor: grab;
}

/* Register Page styling done */

/* --------------------------------------------------- */

/* Records page styling */

#Records .navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#Records .navbar {
  background: #131313;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

#Records #navbar__logo {
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

#Records .navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}

#Records .navbar__item {
  height: 80px;
}

#Records .navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

#Records .navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

#Records .navbar__links:hover {
  color: #9518fc;
  transition: all 0.3s ease;
}

#Records .button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #833ab4;
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  color: #fff;
  transition: all 0.3s ease;
}

#Records #controls_and_records {
  position: fixed;
  top: 8vh;
  background: #000;
  background: linear-gradient(to right, #000, rgb(37, 36, 36));
  height: 92vh;
  width: 100%;
  display: grid;
  grid-template-areas:
    "a b b b b b"
    "a b b b b b"
    "a b b b b b"
    "a b b b b b"
    "a b b b b b";
}

#Records #controls {
  background: #000;
  background: linear-gradient(to right, #000, rgb(37, 36, 36));
  grid-area: a;
}
/* for the react -router link element */
#Records #chart .patient a {
  text-decoration: none !important;
  color: black;
}

#Records #chart {
  grid-area: b;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: 85%;
  overflow-y: scroll;
}

#Records .patient {
  width: 90%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 100px;
  color: #fff;
  border-style: solid;
  border-color: white;
  border-radius: 8px;
  border-width: 2px;
}

#Records .patient .name {
  width: 20%;
}
#Records .patient .patient_id {
  width: 5%;
}

#chart .patient .patient_button button {
  padding: 5px;
}

#Records #controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 80px;
}

#Records #controls #screen {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

#Records #controls #keyword {
  margin-top: 30px;
}

#Records #controls #screen button {
  width: 30%;
  padding: 5px;
}

#Records #controls #screen #all {
  padding: 5px 20px;
}

#Records #controls input {
  height: 45px;
  padding: 20px;
  border-radius: 5px;
}
